body
{
	background: #EDF0F7;
	padding: 30px;
	margin: 0;
}
.left-side
{
	background: white;
	padding: 20px 22px 20px 20px;
	border-radius: 10px;
	overflow: auto;
	height: 95vh;
	width: 280px;
	position: fixed;
}
.logo
{
	display: flex;
	align-items: center;
}
.logo h1,h3
{
	padding: 0px 10px 0px 0px;
	color: grey;
}
hr
{
	margin: 0;
	padding: 0;
}


/*user drop down start*/
nav .drop-btn{
  /*width: 400px;*/
  line-height: 55px;
  color: #b0b3b8;
  cursor: pointer;
  display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 15px 5px 5px;
	
}
nav .drop-btn span{
  float: right;
  line-height: 50px;
  cursor: pointer;
}

nav .wrapper{
  position: relative;
  display: flex;
  overflow: hidden;
  border-radius: 5px;
  display: none;
  margin-left: 50px;
  font-size: 17px;
  background: whitesmoke;
  border-radius: 10px;
  box-shadow: 1px 1px 8px grey;
  transition: 1s;
}
nav .wrapper.show{
  display: block;
  display: flex;
  transition: 1s;
}
.wrapper ul{
  width: 100%;
  list-style: none;
  padding: 1px;
  transition: all 0.3s ease;
}
.wrapper ul li{
  line-height: 55px;
}
.wrapper ul li a{
  position: relative;
  color: #b0b3b8;
  display: flex;
  border-radius: 8px;
  align-items: center;
  text-decoration: none;
  padding: 0 0 0 20px;
  height: 30px;
}
.wrapper ul li:hover a{
	background: white;
	transition: .3s;
}
ul li a .icon{
  margin-right: 10px;
  background: #ffffff1a;
  display: flex;
  justify-content: center;
  text-align: center;
}

/*user drop down end*/
/*additems drop down start*/
nav .drop-btn{
  /*width: 400px;*/
  line-height: 55px;
  color: #b0b3b8;
  cursor: pointer;
  display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 15px 5px 5px;
	
}
nav .drop-btn span{
  float: right;
  line-height: 50px;
  cursor: pointer;
}

nav .wrapper{
  position: relative;
  display: flex;
  overflow: hidden;
  border-radius: 5px;
  display: none;
  margin-left: 50px;
  font-size: 17px;
  background: whitesmoke;
  border-radius: 10px;
  box-shadow: 1px 1px 8px grey;
  transition: 1s;
}
nav .wrapper.show{
  display: block;
  display: flex;
  transition: 1s;
}
.wrapper ul{
  width: 100%;
  list-style: none;
  padding: 1px;
  transition: all 0.3s ease;
}
.wrapper ul li{
  line-height: 55px;
}
.wrapper ul li a{
  position: relative;
  color: #b0b3b8;
  display: flex;
  border-radius: 8px;
  align-items: center;
  text-decoration: none;
  padding: 0 0 0 20px;
  height: 30px;
}
.wrapper ul li:hover a{
	background: white;
	transition: .3s;
}
ul li a .icon{
  margin-right: 10px;
  background: #ffffff1a;
  display: flex;
  justify-content: center;
  text-align: center;
}

/*additems drop down end*/
.profile
{

}
.profile img
{
	height: 50px;
	width: 50px;
}
.search
{
	padding: 2px 0px 2px 5px;
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
	background: aliceblue;
}
.s-input
{
	margin: 4px 0;
	padding: 0px 5px;
	outline: none;
	border: none;
	background: aliceblue;
}
.s-icon
{
	margin: 8px 10px;
	color: grey;
}
.s-icon:hover
{
	cursor: pointer;
}

.add-item
{
	background: #808080;
	height: 40px;
	border-radius: 5px;
}
.add-item:hover
{
	background: #696969;
	color: whitesmoke;
	transition: .3s;
}
.notes
{
	text-decoration: none;
	color: grey;
	font-size: 19px;
}
.notes-icon
{
	margin: 0 15px 0 5px;
}
.notes:hover
{
	color: black;
	transition: .3s;
}
/*notebook drop down start*/
nav .notebook-btn{
  line-height: 55px;
  color: grey;
  cursor: pointer;
  display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 19px;
	padding: 0 5px;
	
}
nav .notebook-btn span{
  float: right;
  line-height: 50px;
  cursor: pointer;
}

nav .notebook-wrapper{
  position: relative;
  display: flex;
  overflow: hidden;
  display: none;
  font-size: 17px;
}
nav .notebook-wrapper.show{
  display: block;
  display: flex;
  transition: 1s;
}
.notebook-wrapper ul{
  width: 100%;
  list-style: none;
  padding: 1px;
  transition: all 0.3s ease;

}
.notebook-wrapper ul li{
  line-height: 55px;
  padding: 10px;
}
.notebook-wrapper ul li a{
  position: relative;
  color: #b0b3b8;
  display: flex;
  border-radius: 8px;
  align-items: center;
  text-decoration: none;
  height: 30px;
}
.notebook-wrapper ul li:hover a{
	background: white;
	transition: .3s;
}
ul li a .icon{
  margin-right: 10px;
  background: #ffffff1a;
  display: flex;
  justify-content: center;
  text-align: center;
}

/*notebook drop down end*/

/*otherpage drop down start*/
nav .other-page-drop-btn{
  line-height: 55px;
  color: grey;
  cursor: pointer;
  display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 19px;
	padding: 0 5px;
	
}
nav .other-page-drop-btn span{
  float: right;
  line-height: 50px;
  cursor: pointer;
}

nav .other-page-wrapper{
  position: relative;
  display: flex;
  overflow: hidden;
  display: none;
  font-size: 17px;
  background: whitesmoke;
}
nav .other-page-wrapper.show{
  display: block;
  display: flex;
  transition: 1s;
}
.other-page-wrapper ul{
  width: 100%;
  list-style: none;
  padding: 1px;
  transition: all 0.3s ease;

}
.other-page-wrapper ul li{
  line-height: 55px;
  padding: 10px;
}
.other-page-wrapper ul li a{
  position: relative;
  color: #b0b3b8;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  align-items: center;
  text-decoration: none;
  height: 30px;
}
.other-page-wrapper ul li:hover a{
	background: white;
	transition: .3s;
}
.other-page-wrapper ul.other-page-setting-drop1,
.other-page-wrapper ul.other-page-setting-drop2,
.other-page-wrapper ul.other-page-setting-drop3,
.other-page-wrapper ul.other-page-setting-drop4,
.other-page-wrapper ul.other-page-setting-drop5
{
  display: none;
}
.other-page-wrapper .arrow{
  padding-left: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #b0b3b8;
  cursor: pointer;
}
.other-page-wrapper .arrow span{
  margin-right: 15px;
}

/*other-page- drop down end*/
/*scrollbar start*/
::-webkit-scrollbar
{
	width: 2px;
}
::-webkit-scrollbar-thumb
{
	background: linear-gradient(transparent,lightblue);
	border-radius: 6px;
}
/*scrollbar end*/
div .vert-move
{
	height: 140px;
	width: 140px;
	position: relative;
	left: 20%;
}
div p
{
	text-align: center;
	color: grey;
	font-size: 17px;
}
div button
{
	position: relative;
	left: 25%;
	outline: none;
	border: none;
	background: #696969;
	border-radius: 10px;
	padding: 8px 18px;
	margin-top: 10px;
	font-size: 20px;
	font-weight: 500;
	color: white;
}
div button:hover
{
	background: black;
}

img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
.write-div
{
	padding: 30px;
	background: white;
	font-size: 17px;
	font-weight: 400;
	border-radius: 10px;
}
.write-div a
{
	text-decoration: none;
	color: grey;
	font-weight: 400;
}
.write-div a:hover
{
	color: black;
}
.notification-div
{
	background: white;
	border-radius: 10px;
	display: flex;
	padding: 25px 10px;
	width: 500px;
}
.notification-div i
{
	color: grey;
	margin: 0;
	padding: 0;
}
.notification-div button
{
	height: 35px;
	width: 35px;
	margin: 0 5px 0 0;
	padding: 0;
	background: whitesmoke;
	position: relative;
	left: 6px;
}
.notification-div button:hover
{
	background: grey;
}
.notification-div button:hover i
{
	color: white;
}
.notification-div span
{
	background: red;
	height: 15px;
	width: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10px;
	border-radius: 50%;
}
.nft-img
{
	height: 50px;
	width: 50px;
}
.notes-div
{
	background: white;
	border-radius: 10px;
	margin-top: 30px;
	padding: 20px;
}
.notes-category-button ul
{
	display: flex;
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
}
.notes-category-button ul li
{
	margin-right: 30px;
	position: relative;
	left: 0;
}
.notes-category-button ul li a
{
	text-decoration: none;
	font-size: 19px;
	border: none;
	margin: 0;
	position: relative;
	left: 0;
}
.notes-category-button ul li a:after
{
	content: "";
	position: absolute;
	width: 0%;
	height: 1px;
	background: black;
	transition: .3s;
	left: -0px;
	top: 30px;
}
.notes-category-button ul li a:hover:after
{
	width: 100%;
}
.notes-category-button ul li a:hover
{
	cursor: pointer;
}
.notes-category-button ul li.active a:after
{
	width: 100%;
}
.filter-button
{
	display: flex;
}
.filter-btn{
	height: 30px;
	width: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	transform: translateY(-10px);
}
.c-body
{
	padding: 15px;
	height: 300px;
	border-radius: 10px;
	box-shadow: 1px 1px 6px grey;
}
.c-body i
{
	color: green;
}
.ic-b
{
	border: .5px solid green;
	padding: 10px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	font-size: 25px;
}
.btn2
{
	background: transparent;
	border: none;
	transform: translateY(-30px);
}
.c-body:hover
{
	background: green;
	color: white !important;
	transition: .4s;
}
.c-body:hover p,.btn2
{
	color: white;transition: .4s;
}
.c-body:hover .btn2
{
	color: white;transition: .4s;
	background: transparent;
}
.c-body:hover i
{
	color: white;transition: .4s;
}
.c-body:hover .ic-b
{
	border: .5px solid white;
}


#only-me i
{
	color: #8A2BE2;
}
#only-me .ic-b
{
	border: .5px solid #8A2BE2;
}
#only-me:hover
{
	background: #8A2BE2;
	color: white !important;
	transition: .4s;
}
#only-me:hover p,.btn2
{
	color: white;transition: .4s;
}
#only-me:hover .btn2
{
	color: white;transition: .4s;
	background: transparent;
}
#only-me:hover i
{
	color: white;transition: .4s;
}
#only-me:hover .ic-b
{
	border: .5px solid white;
}



#favourite i
{
	color: orange;
}
#favourite .ic-b
{
	border: .5px solid orange;
}

#favourite:hover
{
	background: orange;
	color: white !important;
	transition: .4s;
}
#favourite:hover p,.btn2
{
	color: white;transition: .4s;
}
#favourite:hover .btn2
{
	color: white;transition: .4s;
	background: transparent;
}
#favourite:hover i
{
	color: white;transition: .4s;
}
#favourite:hover .ic-b
{
	border: .5px solid white;
}